# App
NODE_ENV=development
PORT=5000
API_PREFIX=api
APP_NAME=NEWME Backend
APP_URL=http://localhost:5000
FRONTEND_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173,http://localhost:4173
TZ=Asia/Jakarta
LOG_LEVEL=debug

# Database
DATABASE_URL="mysql://newme_user:newme_pass@localhost:3306/newme_db"
DIRECT_URL="mysql://newme_user:newme_pass@localhost:3306/newme_db"
DB_TX_TIMEOUT_MS=8000

# Auth
JWT_ACCESS_SECRET=replace_with_strong_secret_123456
JWT_REFRESH_SECRET=replace_with_strong_secret_123456
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d
BCRYPT_ROUNDS=12

# Security
RATE_LIMIT_TTL=60
RATE_LIMIT_LIMIT=120
AUTH_RATE_LIMIT_TTL=60
AUTH_RATE_LIMIT_REGISTER_LIMIT=20
AUTH_RATE_LIMIT_LOGIN_LIMIT=20
AUTH_RATE_LIMIT_ADMIN_LOGIN_LIMIT=8
AUTH_RATE_LIMIT_PASSWORD_RECOVERY_LIMIT=8
CERT_DOWNLOAD_RATE_LIMIT_TTL=60
CERT_DOWNLOAD_RATE_LIMIT=30
CERT_AI_DOWNLOAD_RATE_LIMIT=20
CERT_GENERATE_RATE_LIMIT=15
TRUST_PROXY=true

# Redis / BullMQ
REDIS_HOST=127.0.0.1
REDIS_PORT=6380
REDIS_PASSWORD=
REDIS_DB=0
BULLMQ_PREFIX=newme
BULLMQ_DEFAULT_REMOVE_ON_COMPLETE=1000
BULLMQ_DEFAULT_REMOVE_ON_FAIL=5000
QUEUE_CONCURRENCY_PAYMENT=10
QUEUE_CONCURRENCY_SCORING=20

# Midtrans
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=replace_midtrans_server_key
MIDTRANS_CLIENT_KEY=replace_midtrans_client_key
MIDTRANS_MERCHANT_ID=replace_midtrans_merchant_id
MIDTRANS_SANITIZED=true
MIDTRANS_3DS=true
MIDTRANS_WEBHOOK_PATH=/api/payments/midtrans/webhook

# Payment reconcile
PAYMENT_RECONCILE_CRON=*/5 * * * *
PAYMENT_RECONCILE_WINDOW_MINUTES=120

# Storage local
STORAGE_DRIVER=local
UPLOAD_DIR=./uploads
UPLOAD_PUBLIC_BASE_URL=http://localhost:5000/uploads
MAX_FILE_SIZE_MB=10
ALLOWED_IMAGE_EXT=jpg,jpeg,png,webp
ALLOWED_DOC_EXT=pdf

# Mail
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=replace_user
SMTP_PASS=replace_pass
SMTP_FROM_NAME=NEWME
SMTP_FROM_EMAIL=no-reply@newme.id
SMTP_SECURE=false

# Certificate
CERT_TEMPLATE_DIR=./uploads/certificates/templates
CERT_OUTPUT_DIR=./uploads/certificates/generated
CERT_NUMBER_PREFIX=NEWME
CERT_TIMEZONE=Asia/Jakarta

# Rules Engine
RULES_ENGINE_VERSION=v1
RULES_PERSONALITY_FILE=./src/modules/rules/data/personality-rules.json
RULES_RESULT_FILE=./src/modules/rules/data/result-rules.json

# Cron
CRON_ANALYTICS_CLEANUP=0 */6 * * *
CRON_TEMP_FILES_CLEANUP=0 3 * * *

# Seed Admin
SEED_SUPERADMIN_EMAIL=admin@newme.id
SEED_SUPERADMIN_PASSWORD=ChangeMeNow123!
SEED_SUPERADMIN_NAME=Super Admin
